
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

/* Variables | colors */

:root {
    --primary-bg: #1F2937;
    --white-bg: #fff;
    --primary-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --btn-primary: #3882f6;
}

/* typography */
/*  main heading = 48px extra-bold
    secondary text = 18px 
    logo = 24px
    info header = 36px extra-bold
    quote text = 36px light italic (primary BG color)
*/

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */

.top-container {
    background: var(--primary-bg);
    width: 100vw;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-left h1 {
    color: var(--primary-text);
}

h1 span {
    color: var(--btn-primary);
}

.navbar a:hover {
    color: var(--btn-primary);
}

.content {
  max-width: 1200px;
  padding: 0 50px;
  flex: 1 1 0%;
}

ul li {
    padding: 0 2rem;
}

.btn {
  outline: none;
  border: 0;
  padding: 0.4rem 1.8rem;
  border-radius: 7px;
}

.btn__filled {
  background: var(--btn-primary);
  color: var(--primary-text);
  font-weight: 700;
  font-size: 18px;
}

/* Basic setups */

li {
    list-style-type: none;
}

a {
    color: var(--primary-text);
    text-decoration: none;
}

img {
  width: 100%;
  
}